/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* gray/blue big container */
.container-1 {
  background-color: #1F2937;
  width: 100%;
  min-width: min-content;
  height:fit-content;
  margin: 0 auto;
  padding: 10% 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}








.bg-gray {
  /* background-color: #171e28;s */
  width: auto;
  border-radius: 0.2em;
  display: flex;
  margin: none;
  flex-direction: column;
  align-items: flex-start;
}

/* Div options and passwords */
.div-length-pass {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  /* margin: 0% 0% 5% 0%; */
}

/* length input"s style */
#length {
  background-color: #273549;
  color: #10B981;
  font-family: "Karla", sans-serif;
  font-size: inherit;
  font-weight: 200;
  border-radius: 15%;
  width: 30%;
  margin-bottom: 2%;
  height: fit-content;
  border: none;
  text-align: center;
}


/*container number + symbols options*/
.centered-opt {
  min-width: fit-content;
  height: max-content;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  justify-content: space-evenly;
}

/* individual div option + button */
.options-div {
  width: 10em;
  height: fit-content;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

p {
  margin-bottom: 2%;
}

.p-opt {
  width: 5em;
  margin-right: 10%;
}



/* container button password generator */
.pass-generator {
  width: 100%;
  padding: 1em 0em;
  display: flex;
  justify-content: center;
}

/* trigger button */
#pass-gen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #10B981;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.3em 1.3em;
  cursor: pointer;
  height: max-content;
}



/* div password + copy button */
.pass-button {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 1em;
  margin-top: 1em; */
}

.full-pass-btn {
  /* width: 100vw; */
  min-width: fit-content;
  display: flex;
  align-items: center;
}

/* p where the password is shown */
.div-buttons-copy {
  min-width: 20em;
  max-width: max-content;
  height: 2em;
  background-color: #273549;
  font-family: "Inter", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  color: #55F991;
  border: none;
  border-radius: 0.5em;
  padding: 0em 0.5em;
  margin-right: 0.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}








/*btn green toggle */
.style.green {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  width: 4em;
  /* height: 2em; */
  /* font-size: 0.75em; */
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  transition: 0.1s;
  background-color: #55F991;
  color: black;

  height: max-content;
  padding: 0.3em;
}

/* btn gray toggle */
.style {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  width: max-content;
  /* font-size: 1em; */
  border: none;
  border-radius: 0.5em;
  transition: 0.1s;
  background-color: #273549;
  color: white;

  height: max-content;
  padding: 2% 10%;
}






/* TO SOLVE */

::placeholder {
  color: gainsboro;
  opacity: 0.8;
  font-family:"Karla", sans-serif;
  /* font-size: 1em; */
  font-weight: 100;
  text-align: center;
}

#number-el:hover{
  cursor:pointer;
}

#symbol-el:hover{
  cursor:pointer;
}

#btn-copy1:active {
  cursor:pointer;
  background-color: #55F991;
  color: #1C1C1C;
  transition: 0.1s;
}

#btn-copy2:active {
  cursor: pointer;
  background-color: #55F991;
  color: #1C1C1C;
}

#btn-copy1 {
  font-size: 0.75em;
}

#btn-copy2 {
  font-size: 0.75em;
}

.icon-copy {
  width: 20px;
  height: 20px;
  /* size: 10px; */
}

/* btn gray toggle */
.st-copy {
  width: 2em;
  height: 2em;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  transition: 0.1s;
  background-color: #273549;
  color: white;
  padding: 0.3em;
}
